<div>
    <div class="row">
        <div class="col-sm-8">
            <h2 id="page-heading">
                <span jhiTranslate="gpecmanagerApp.employe.home.title">Employes</span>
            </h2>
        </div>
        <div class="col-sm-4 text-right">
            <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-employe" 
                [routerLink]="['/employe/new']"
                [ngbTooltip]="addTootltip" placement="left">
                <fa-icon icon="plus"></fa-icon>
                <ng-template #addTootltip>
                    <span  jhiTranslate="gpecmanagerApp.employe.home.createLabel">
                        Create a new Employe
                        </span>
                </ng-template>
            </button>
            <!--form name="searchForm" class="form-inline">
                <div class="input-group w-100 mr-1">
                <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gpecmanagerApp.employe.home.search' | translate }}">
                <button class="btn btn-info" (click)="search(currentSearch)">
                <fa-icon icon="search"></fa-icon>
                </button>
                <button class="btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                <fa-icon icon="trash-alt"></fa-icon>
                </button>
                </div>
            </form-->
        </div>
    </div>
    <br>
    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="employes?.length === 0">
        <span jhiTranslate="gpecmanagerApp.employe.home.notFound">No employes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="employes && employes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="photo"><span jhiTranslate="gpecmanagerApp.employe.photo">Photo</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="matricule"><span jhiTranslate="gpecmanagerApp.employe.matricule">Matricule</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="intituleEmploye"><span jhiTranslate="gpecmanagerApp.employe.intituleEmploye">Intitule Employe</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateEmbauchement"><span jhiTranslate="gpecmanagerApp.employe.dateEmbauchement">Date Embauchement</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="age"><span jhiTranslate="gpecmanagerApp.employe.age">Age</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="disponibilite"><span jhiTranslate="gpecmanagerApp.employe.disponibilite">Disponibilite</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="contrat.libelleContrat"><span jhiTranslate="gpecmanagerApp.employe.contrat">Contrat</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employe of employes ;trackBy: trackId">
                    <td>
                        <a *ngIf="employe.photo" (click)="openFile(employe.photoContentType, employe.photo)">
                            <img [src]="'data:' + employe.photoContentType + ';base64,' + employe.photo" style="max-height: 30px;" alt="employe image"/>
                        </a>
                        <!--span *ngIf="employe.photo">{{ employe.photoContentType }}, {{ byteSize(employe.photo) }}</span-->
                    </td>
                    <td><a [routerLink]="['/employe', employe.id, 'view']">{{ employe.matricule }}</a></td>
                    <td>{{ employe.intituleEmploye }}</td>
                    <td>{{ employe.dateEmbauchement | date:'medium' }}</td>
                    <td>{{ employe.age }}</td>
                    <td jhiTranslate="{{ 'gpecmanagerApp.Disponibilite.' + employe.disponibilite }}">{{ employe.disponibilite }}</td>
                    <td>
                        <div *ngIf="employe.contrat">
                            <a [routerLink]="['/contrat', employe.contrat?.id, 'view']" >{{ employe.contrat?.typeContrat }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/employe', employe.id, 'view']"
                                    class="btn btn-info btn-sm"
                                    [ngbTooltip]="addTootltip" placement="top">
                                <fa-icon icon="eye"></fa-icon>
                                <ng-template #addTooltip>
                                   <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                </ng-template>                                
                            </button>

                            <button type="submit"
                                    [routerLink]="['/employe', employe.id, 'edit']"
                                    class="btn btn-primary btn-sm"
                                    [ngbTooltip]="addTootltip" placement="top">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <ng-template #addTooltip>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                                </ng-template>
                            </button>

                            <button type="submit" (click)="delete(employe)"
                                    class="btn btn-danger btn-sm"
                                    [ngbTooltip]="addTootltip" placement="top">
                                <fa-icon icon="times"></fa-icon>
                                <ng-template>
                                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                                </ng-template>
                                
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="employes && employes.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
