<div>
    <h2 id="page-heading">
        <span jhiTranslate="gpecmanagerApp.diplome.home.title">Diplomes</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-diplome" [routerLink]="['/diplome/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gpecmanagerApp.diplome.home.createLabel">
            Create a new Diplome
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="diplomes?.length === 0">
        <span jhiTranslate="gpecmanagerApp.diplome.home.notFound">No diplomes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="diplomes && diplomes.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libelleDiplome"><span jhiTranslate="gpecmanagerApp.diplome.libelleDiplome">Libelle Diplome</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="anneeDiplome"><span jhiTranslate="gpecmanagerApp.diplome.anneeDiplome">Annee Diplome</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="employe.intituleEmploye"><span jhiTranslate="gpecmanagerApp.diplome.employe">Employe</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let diplome of diplomes ;trackBy: trackId">
                    <td><a [routerLink]="['/diplome', diplome.id, 'view']">{{ diplome.id }}</a></td>
                    <td>{{ diplome.libelleDiplome }}</td>
                    <td>{{ diplome.anneeDiplome | date:'medium' }}</td>
                    <td>
                        <div *ngIf="diplome.employe">
                            <a [routerLink]="['/employe', diplome.employe?.id, 'view']" >{{ diplome.employe?.intituleEmploye }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/diplome', diplome.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/diplome', diplome.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(diplome)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="diplomes && diplomes.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
