<div>
    <h2 id="page-heading">
        <span jhiTranslate="gpecmanagerApp.fonction.home.title">Fonctions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-fonction" [routerLink]="['/fonction/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gpecmanagerApp.fonction.home.createLabel">
            Create a new Fonction
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="fonctions?.length === 0">
        <span jhiTranslate="gpecmanagerApp.fonction.home.notFound">No fonctions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="fonctions && fonctions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libelleFonction"><span jhiTranslate="gpecmanagerApp.fonction.libelleFonction">Libelle Fonction</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="employe.intituleEmploye"><span jhiTranslate="gpecmanagerApp.fonction.employe">Employe</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let fonction of fonctions ;trackBy: trackId">
                    <td><a [routerLink]="['/fonction', fonction.id, 'view']">{{ fonction.id }}</a></td>
                    <td>{{ fonction.libelleFonction }}</td>
                    <td>
                        <div *ngIf="fonction.employe">
                            <a [routerLink]="['/employe', fonction.employe?.id, 'view']" >{{ fonction.employe?.intituleEmploye }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/fonction', fonction.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/fonction', fonction.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(fonction)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
