<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="fonction">
            <h2><span jhiTranslate="gpecmanagerApp.fonction.detail.title">Fonction</span> {{ fonction.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gpecmanagerApp.fonction.libelleFonction">Libelle Fonction</span></dt>
                <dd>
                    <span>{{ fonction.libelleFonction }}</span>
                </dd>
                <dt><span jhiTranslate="gpecmanagerApp.fonction.employe">Employe</span></dt>
                <dd>
                    <div *ngIf="fonction.employe">
                        <a [routerLink]="['/employe', fonction.employe?.id, 'view']">{{ fonction.employe?.intituleEmploye }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/fonction', fonction.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
