<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <jhi-widgeta></jhi-widgeta>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <jhi-widgetb></jhi-widgetb>
            </div>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <jhi-widgetc></jhi-widgetc>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <jhi-widgetd></jhi-widgetd>
            </div>
        </div>
    </div>
</div>