<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="serviceAffecte">
            <h2><span jhiTranslate="gpecmanagerApp.serviceAffecte.detail.title">Service Affecte</span> {{ serviceAffecte.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gpecmanagerApp.serviceAffecte.codeService">Code Service</span></dt>
                <dd>
                    <span>{{ serviceAffecte.codeService }}</span>
                </dd>
                <dt><span jhiTranslate="gpecmanagerApp.serviceAffecte.libelleService">Libelle Service</span></dt>
                <dd>
                    <span>{{ serviceAffecte.libelleService }}</span>
                </dd>
                <dt><span jhiTranslate="gpecmanagerApp.serviceAffecte.secteurActivite">Secteur Activite</span></dt>
                <dd>
                    <div *ngIf="serviceAffecte.secteurActivite">
                        <a [routerLink]="['/secteur-activite', serviceAffecte.secteurActivite?.id, 'view']">{{ serviceAffecte.secteurActivite?.libelleActivite }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/service-affecte', serviceAffecte.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
