<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="serviceFrequente">
            <h2><span jhiTranslate="gpecmanagerApp.serviceFrequente.detail.title">Service Frequente</span> {{ serviceFrequente.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gpecmanagerApp.serviceFrequente.codeService">Code Service</span></dt>
                <dd>
                    <span>{{ serviceFrequente.codeService }}</span>
                </dd>
                <dt><span jhiTranslate="gpecmanagerApp.serviceFrequente.libelleService">Libelle Service</span></dt>
                <dd>
                    <span>{{ serviceFrequente.libelleService }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/service-frequente', serviceFrequente.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
