<div>
    <h2 id="page-heading">
        <span jhiTranslate="gpecmanagerApp.operationExterieur.home.title">Operation Exterieurs</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-operation-exterieur" [routerLink]="['/operation-exterieur/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gpecmanagerApp.operationExterieur.home.createLabel">
            Create a new Operation Exterieur
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="operationExterieurs?.length === 0">
        <span jhiTranslate="gpecmanagerApp.operationExterieur.home.notFound">No operationExterieurs found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="operationExterieurs && operationExterieurs.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lieuOpex"><span jhiTranslate="gpecmanagerApp.operationExterieur.lieuOpex">Lieu Opex</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="anneeOpex"><span jhiTranslate="gpecmanagerApp.operationExterieur.anneeOpex">Annee Opex</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="employe.intituleEmploye"><span jhiTranslate="gpecmanagerApp.operationExterieur.employe">Employe</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let operationExterieur of operationExterieurs ;trackBy: trackId">
                    <td><a [routerLink]="['/operation-exterieur', operationExterieur.id, 'view']">{{ operationExterieur.id }}</a></td>
                    <td>{{ operationExterieur.lieuOpex }}</td>
                    <td>{{ operationExterieur.anneeOpex | date:'medium' }}</td>
                    <td>
                        <div *ngIf="operationExterieur.employe">
                            <a [routerLink]="['/employe', operationExterieur.employe?.id, 'view']" >{{ operationExterieur.employe?.intituleEmploye }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/operation-exterieur', operationExterieur.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/operation-exterieur', operationExterieur.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(operationExterieur)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="operationExterieurs && operationExterieurs.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
