<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-specialite-heading" jhiTranslate="gpecmanagerApp.specialite.home.createOrEditLabel">Create or edit a Specialite</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gpecmanagerApp.specialite.libelleSpecialite" for="field_libelleSpecialite">Libelle Specialite</label>
                    <input type="text" class="form-control" name="libelleSpecialite" id="field_libelleSpecialite"
                           formControlName="libelleSpecialite"/>
                    <div *ngIf="editForm.get('libelleSpecialite')!.invalid && (editForm.get('libelleSpecialite')!.dirty || editForm.get('libelleSpecialite')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('libelleSpecialite')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gpecmanagerApp.specialite.fonction" for="field_fonction">Fonction</label>
                    <select class="form-control" id="field_fonction" name="fonction" formControlName="fonction">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="fonctionOption.id === editForm.get('fonction')!.value?.id ? editForm.get('fonction')!.value : fonctionOption" *ngFor="let fonctionOption of fonctions; trackBy: trackById">{{ fonctionOption.libelleFonction }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
