<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-membre-famille-heading" jhiTranslate="gpecmanagerApp.membreFamille.home.createOrEditLabel">Create or edit a Membre Famille</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gpecmanagerApp.membreFamille.prenoms" for="field_prenoms">Prenoms</label>
                    <input type="text" class="form-control" name="prenoms" id="field_prenoms"
                           formControlName="prenoms"/>
                    <div *ngIf="editForm.get('prenoms')!.invalid && (editForm.get('prenoms')!.dirty || editForm.get('prenoms')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('prenoms')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gpecmanagerApp.membreFamille.nom" for="field_nom">Nom</label>
                    <input type="text" class="form-control" name="nom" id="field_nom"
                           formControlName="nom"/>
                    <div *ngIf="editForm.get('nom')!.invalid && (editForm.get('nom')!.dirty || editForm.get('nom')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nom')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gpecmanagerApp.membreFamille.dateNaissance" for="field_dateNaissance">Date Naissance</label>
                    <div class="d-flex">
                        <input id="field_dateNaissance" type="datetime-local" class="form-control" name="dateNaissance" formControlName="dateNaissance" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('dateNaissance')!.invalid && (editForm.get('dateNaissance')!.dirty || editForm.get('dateNaissance')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateNaissance')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('dateNaissance')?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gpecmanagerApp.membreFamille.lieuNaissance" for="field_lieuNaissance">Lieu Naissance</label>
                    <input type="text" class="form-control" name="lieuNaissance" id="field_lieuNaissance"
                           formControlName="lieuNaissance"/>
                    <div *ngIf="editForm.get('lieuNaissance')!.invalid && (editForm.get('lieuNaissance')!.dirty || editForm.get('lieuNaissance')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('lieuNaissance')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gpecmanagerApp.membreFamille.epoux" for="field_epoux">Epoux</label>
                    <input type="checkbox" class="form-control" name="epoux" id="field_epoux"
                           formControlName="epoux"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gpecmanagerApp.membreFamille.epouse" for="field_epouse">Epouse</label>
                    <input type="checkbox" class="form-control" name="epouse" id="field_epouse"
                           formControlName="epouse"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gpecmanagerApp.membreFamille.enfant" for="field_enfant">Enfant</label>
                    <input type="checkbox" class="form-control" name="enfant" id="field_enfant"
                           formControlName="enfant"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gpecmanagerApp.membreFamille.employe" for="field_employe">Employe</label>
                    <select class="form-control" id="field_employe" name="employe" formControlName="employe">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="employeOption.id === editForm.get('employe')!.value?.id ? editForm.get('employe')!.value : employeOption" *ngFor="let employeOption of employes; trackBy: trackById">{{ employeOption.intituleEmploye }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
