<div>
    <h2 id="page-heading">
        <span jhiTranslate="gpecmanagerApp.contrat.home.title">Contrats</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-contrat" [routerLink]="['/contrat/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="gpecmanagerApp.contrat.home.createLabel">
            Create a new Contrat
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="contrats?.length === 0">
        <span jhiTranslate="gpecmanagerApp.contrat.home.notFound">No contrats found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="contrats && contrats.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="reset.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="numeroContrat"><span jhiTranslate="gpecmanagerApp.contrat.numeroContrat">Numero Contrat</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="libelleContrat"><span jhiTranslate="gpecmanagerApp.contrat.libelleContrat">Libelle Contrat</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateDebut"><span jhiTranslate="gpecmanagerApp.contrat.dateDebut">Date Debut</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="dateFin"><span jhiTranslate="gpecmanagerApp.contrat.dateFin">Date Fin</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="niveauEtude"><span jhiTranslate="gpecmanagerApp.contrat.niveauEtude">Niveau Etude</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="typeContrat"><span jhiTranslate="gpecmanagerApp.contrat.typeContrat">Type Contrat</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
                <tr *ngFor="let contrat of contrats ;trackBy: trackId">
                    <td><a [routerLink]="['/contrat', contrat.id, 'view']">{{ contrat.id }}</a></td>
                    <td>{{ contrat.numeroContrat }}</td>
                    <td>{{ contrat.libelleContrat }}</td>
                    <td>{{ contrat.dateDebut | date:'medium' }}</td>
                    <td>{{ contrat.dateFin | date:'medium' }}</td>
                    <td jhiTranslate="{{ 'gpecmanagerApp.NiveauEtude.' + contrat.niveauEtude }}">{{ contrat.niveauEtude }}</td>
                    <td jhiTranslate="{{ 'gpecmanagerApp.TypeContrat.' + contrat.typeContrat }}">{{ contrat.typeContrat }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/contrat', contrat.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/contrat', contrat.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(contrat)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
